<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Event Calendar</title>
    </head>
 
    <body>
        <h1>Register</h1>
		<form method="POST">
            {% csrf_token %}
            Firstname <input type="string" name="firstname"/>
            <br/>
            Lastname <input type="string" name="lastname"/>
            <br/>
            Age <input type="integer" name="age"/>
            <br/>
            Username <input type="string" name="username"/>
            <br/>
            Password <input type="password" name="password"/>
            <br/>
            <button type="submit">Register</button>
        </form>
    </body>
</html>